*{
    margin: 0px;
    padding: 0px;
}

div.container {
    position: relative;
    height: 100vh;
   
    background-image: url('imagem/espaco_g.png');    
    background-size: cover;
   
   
}

div.conteudo {
  position: absolute;
  height: 100%;
  width: 50%;
  background-image: url('imagem/astronauta.png');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 margin: auto;
 transform: translate(50%, 2%);   
    

}