
@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url(/HtmlCss/exercicios/desafio010/fontes/idroid.otf);
}

:root {
/* Color Theme Swatches in Hex */
--cor01: #0F1791; 
--cor02: #C7C7C7; 
--cor03: #1521D1; 
--cor04: #79ABDE; 
--cor05: #030112; 
--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--fonte-Android: 'Android', cursive;


}




*{
    margin: 0;
    padding: 0;
    border: 0;

}
body {
    background-color: var(--cor04);
    font-family: var(--fonte-padrao);

    
}
header {
    background-image: linear-gradient(to top, var(--cor01), var(--cor02));
    padding-top: 40px;
    min-height: 150px;
    text-align: center;
        
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
}
header > p {

    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);

    
}

nav {
    background-color: var(--cor01);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.432);  


}

nav > a {

    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor05);
    color: var(--cor02);
}


main {
    
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 250px;
    max-width: 1000px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 1px 1px rgba(7, 7, 7, 0.397);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main picture {

    display: flex;
    margin: auto;
    

}
main h1 {

    color: var(--cor01);
    font-family: var(--fonte-Android);
}

main h2 {
    color: var(--cor03);
    font-family: var(--fonte-Android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor04), transparent);
    text-indent: 8px;

}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
    font-size: 1em;  
    

}
p::first-line {
    margin: 10px;
}
lo {
    display: inline-flexbox
}
main {
    display: flexbox;
}